<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10441763; 
var sc_invisible=1; 
var sc_security="8d8bec6b"; 
var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript>
<div class="statcounter">
	<a title="web statistics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/10441763/0/8d8bec6b/1/" alt="web
statistics">
	</a></div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->